/* reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover:not(.btn) {
    text-decoration: underline;
}

:root {
    --color-header-download-bg: #23272A;
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255ee9;
    --color-section-bg: #f6f6f6;
    --color-contrast: rgb(174, 187, 231);
}

/* general */
body {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.button-white {
    color: black;
    background-color: var(--color-scondary);
}

.button-black {
    color: var(--color-scondary);
    background-color: var(--color-primary);
}

.button-contrast {
    color: var(--color-scondary);
    background-color: var(--color-contrast);
}

.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 7px 16px;
}

.btn-big{
    padding: 20px 30px;
    border-radius: 35px;
}

.btn-hover-white:hover{
    box-shadow: inset 0px 0px 20px 20px rgba(221, 221, 221, 0.2);
}

.btn-hover-grey:hover{
    box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.2);
}

/* FLEX-UTILITY */
.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.r-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
    align-content: center;
}

.align-end{
    align-items: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    align-self: flex-end;
}

.start {
    align-self: flex-start;
}

/* Header */

header {
    background-color: var(--color-header-download-bg);
    color: var(--color-scondary);
    min-height: 550px;
}
nav {
    padding: 2%;
}

nav>ul>li {
    margin: 0 10px;
}

nav,
a {
    color: var(--color-scondary);
}

.header-padding{
    padding-top: 4%;
}
/* header > h1 p {
    margin-bottom: 10px;
}  */

/* main */

.box {
    background-color: var(--color-section-bg);
    border-radius: 50px;
    margin: 10px;
    padding: 3% 3% 0 3%;
}

.main-left {
    width: 50%;
}

.main-right {
    width: 50%;
}

.add-margin-top{
    margin-top:8%
}

.add-margin-bot{
    margin-bottom: 8%;
}

.box-ios-img {
    background-image: url('../img/download-iOS.svg');
    background-repeat: no-repeat;
    min-height: 367px;
    margin-top: 25px;
}

.box-android-img {
    background-image: url('../img/download-android.svg');
    background-repeat: no-repeat;
    min-height: 367px;
    margin-top: 25px;
}

.box-linux-img {
    background-image: url('../img/download-linux.svg');
    background-repeat: no-repeat;
    min-height: 367px;
    margin-top: 25px;
}

.box-mac-img {
    background-image: url('../img/download-mac.svg');
    background-repeat: no-repeat;
    min-height: 367px;
    margin-top: 25px;
}

.txt-center{
    text-align: center;
}

main h2{
    font-size: 30px;
    margin-bottom: 16px;
}
/* FOOTER */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
    padding: 3% 5%;
}

.footer-icon-pudding {
    padding-right: 40%;
}

footer li {
    margin-bottom: 15px;
}

footer .top {
    margin-bottom: 3%;
}

footer .bottom {
    margin: 2% 4%;
    border-top: 1px solid rgba(174, 187, 231, 0.7);
}

.italy-flag {
    width: 20px;
}

footer h2,
h3 {
    font-size: 30px;
    color: var(--color-contrast);
}