/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}
a:hover(.btn){
    text-decoration: underline;
}

:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255ee9;
    --color-section-bg: #f6f6f6;
    --color-contrast: rgb(174, 187, 231);
}

/* general */
body {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {

    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.button-white{
    color: black;
    background-color: var(--color-scondary);
}
.button-black{
    color: var(--color-scondary);
    background-color: var(--color-primary);
}

.button-contrast{
    color:var(--color-scondary);
    background-color: var(--color-contrast);
}

.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 7px 16px;
}

.btn:hover{
    box-shadow: 5px 8px 4px ;
}

.btn-hover-grey:hover{
    box-shadow: 5px 8px 10px grey;
}

/* FLEX-UTILITY */
.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.r-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
    /* align-content: center; */
}

.wrap{
    flex-wrap: wrap;
}


/* HEADER */
header {
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}

nav {
    padding: 1%;
}

nav,
a {
    color: var(--color-scondary);
}

#hero {
    background-image: url('../img/jumbo.png');
    min-height: 600px;
    background-size: cover;
}

header p{
    margin-bottom: 20px;
}

nav>ul>li {
    margin: 0 10px;
}

/* MAIN */
.bg-grey {
    background-color: var(--color-section-bg);
}

.left {
    width: 65%;
}

.right {
    padding: 5%;
    width: 35%;
}

.main-pudding {
    padding: 5% 5%;
}

.main-txt-align {
    text-align: center;
}

.mini-star{
    background-image: url('../img/stars.svg');
    background-repeat:no-repeat;
    background-size: contain;
}

main h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.adapt{
    max-width: 100%;
}

.wave{
    height: 60px;
    filter: opacity(0.04);
    background-image: url('../img/wave.svg');
}

.wave-invert{
    transform: rotateX(180deg);                 
}

/* FOOTER */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
    padding: 3% 5%;
}

.footer-icon-pudding{
    padding-right: 40%;
}

footer li{
    margin-bottom: 15px;
}

footer .top{
    margin-bottom: 3%;
}

footer .bottom {
    margin: 2% 4%;
    border-top: 1px solid rgba(174, 187, 231, 0.7);
}

#italy-flag {
    width: 20px;
}

footer h2, h3 {
    font-size: 30px;
    color: var(--color-contrast);
}
