/* reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul{
    list-style: none;
 }
 :root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: rgb(174, 187, 231);
}
 /* general */
.debug{
    border: 1px solid red; 
}
 body{
    font-family: 'Noto Sans', sans-serif;
    color: black;
}
/* HEADER */
header{
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}
#hero{
    background-image: url('../img/jumbo.png');
    min-height: 500px;
    background-size: cover;
    align-items: center;
}
nav>ul>li{
    margin: 0 10px;    
}
/* MAIN */
.bg-gray{
    background-color: var(--color-section-bg);
}
.left{

    width: 65%;
}
.right{
    padding:5%;
    width: 35%;
}
/* FOOTER */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
footer .top{
    border-top: 1px solid rgba(174, 187, 231,0.7);
}                 
/* UTILITY */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.small-container{
    max-width: 800px;
    margin:0 auto;
    text-align:center;
}
.btn-generic{
    border-radius: 8px;
    padding: 5px 8px;
}
/* FLEX-UTILITY */
.d-flex{
    display:flex;
}
.s-between{
    justify-content: space-between;
}
.s-around{
    justify-content: space-around;
}
.r-reverse{
    flex-direction:row-reverse;
}
.align-center{
align-items: center;
}